@charset "UTF-8";
/*Fonts*/
/*Couleurs*/
/*Tailles*/
@font-face {
  font-family: "Mob";
  src: local(Mob), url("fonts/master_of_break.otf"), url("fonts/master_of_break.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "cookiesmilk";
  src: local(cookiesmilk), url("fonts/cookiesmilk-regular.eot") format("embedded-opentype"), url("fonts/cookiesmilk-regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "cookiesmilk";
  src: local(cookiesmilk), url("fonts/cookiesmilk-italic.eot") format("embedded-opentype"), url("fonts/cookiesmilk-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
body {
  margin: auto;
  font-family: "Helvetica";
  font-size: 1.2em;
  padding-bottom: 5em; }

/*Mobile*/
@media screen and (max-width: 1024px) {
  main {
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em; } }
/*Desktop*/
@media screen and (min-width: 1024px) {
  main {
    width: 800px;
    margin-left: auto;
    margin-right: auto; } }
main {
  margin-top: 6em; }

footer {
  z-index: 7;
  border-top: 3px dashed #339999;
  background-color: white;
  width: 100%;
  padding: 0.5em;
  position: fixed;
  bottom: 0; }

.img-responsive {
  width: 90%;
  height: auto; }

.center {
  text-align: center; }

.div-big {
  margin-bottom: 2em; }

.img-bookcover {
  width: 150px;
  height: 200px;
  border: 1px solid #eeeeee; }

.img-bookcover-big {
  border: 1px solid #eeeeee;
  max-width: 270px; }

.book {
  animation-name: opacity-anim;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transform: scale(1);
  /* Safari and Chrome */
  -moz-transform: scale(1);
  /* Firefox */
  -ms-transform: scale(1);
  /* IE 9 */
  -o-transform: scale(1);
  /* Opera */
  transform: scale(1); }

.book:hover {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transform: scale(1.05);
  /* Safari and Chrome */
  -moz-transform: scale(1.05);
  /* Firefox */
  -ms-transform: scale(1.05);
  /* IE 9 */
  -o-transform: scale(1.05);
  /* Opera */
  transform: scale(1.05); }

.div-confirm {
  background-color: #eeeeee;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 1em; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    box-sizing: border-box;
    padding: 0; }
    @media screen and (max-width: 1024px) {
      .row .col {
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/
        /*M for mobile*/ }
        .row .col.m1 {
          width: 8.33333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m2 {
          width: 16.66667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m3 {
          width: 25%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m4 {
          width: 33.33333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m5 {
          width: 41.66667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m6 {
          width: 50%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m7 {
          width: 58.33333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m8 {
          width: 66.66667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m9 {
          width: 75%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m10 {
          width: 83.33333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m11 {
          width: 91.66667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m12 {
          width: 100%;
          margin-left: auto;
          left: auto;
          right: auto; } }
    @media screen and (min-width: 1024px) {
      .row .col {
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/
        /*D for desktop*/ }
        .row .col.d1 {
          width: 8.33333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d2 {
          width: 16.66667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d3 {
          width: 25%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d4 {
          width: 33.33333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d5 {
          width: 41.66667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d6 {
          width: 50%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d7 {
          width: 58.33333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d8 {
          width: 66.66667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d9 {
          width: 75%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d10 {
          width: 83.33333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d11 {
          width: 91.66667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.d12 {
          width: 100%;
          margin-left: auto;
          left: auto;
          right: auto; } }

/*Mobile*/
@media screen and (max-width: 1024px) {
  .text-logo {
    text-align: center;
    float: none; }

  .menu ul {
    position: fixed;
    left: 0;
    top: 2em;
    padding: 0;
    width: 100%;
    text-align: center; }
    .menu ul li {
      background-color: #339999; }

  .menu-icon {
    position: fixed;
    font-size: 1.3em;
    top: 0.5em;
    left: 1em;
    border: 1px solid;
    border-radius: 5px;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    z-index: 10;
    font-family: "cookiesmilk";
    line-height: 1em;
    cursor: pointer; }

  .menu-show {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; }

  .signin-hide {
    display: none; }

  .menu-hide {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transform: translateY(-150%); } }
/*Desktop*/
@media screen and (min-width: 1024px) {
  .text-logo {
    float: left;
    padding-left: 2em;
    padding-right: 1em; }

  .menu ul {
    margin: auto; }
    .menu ul li {
      float: left; }

  .menu-icon {
    display: none; } }
.menu {
  z-index: 9;
  position: fixed;
  top: 0;
  height: 2em;
  width: 100%;
  background-color: #339999;
  padding: 0.5em; }
  .menu ul {
    list-style-type: none;
    height: 100%;
    font-family: "cookiesmilk"; }
    .menu ul li {
      z-index: 9;
      font-size: 1.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      /*signin menu*/ }
      .menu ul li a {
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        color: black;
        text-transform: uppercase;
        text-decoration: none; }
      .menu ul li a:hover {
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        color: #eeeeee;
        text-transform: uppercase;
        text-decoration: none; }
      .menu ul li .active {
        color: #eeeeee; }
      .menu ul li div {
        background-color: #339999;
        padding: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em; }
        .menu ul li div input {
          font-size: 0.7em;
          width: 200px;
          border-radius: 0.2em; }
        .menu ul li div button {
          font-size: 0.7em;
          width: 200px; }
        .menu ul li div button:hover {
          background-color: #339999; }

.text-logo {
  cursor: default;
  font-family: "cookiesmilk";
  font-weight: bold;
  color: #eeeeee;
  font-style: italic;
  font-size: 2em;
  line-height: 1em; }

.signin-show {
  -webkit-transform: translateY(0);
  /* Safari and Chrome */
  -moz-transform: translateY(0);
  /* Firefox */
  -ms-transform: translateY(0);
  /* IE 9 */
  -o-transform: translateY(0);
  /* Opera */
  transform: translateY(0);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  opacity: 1; }

.signin-hide {
  margin-top: -150%;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }

.menu-mini-text {
  font-size: 0.4em;
  font-family: "Helvetica";
  text-align: center; }

.text-mini-logo {
  cursor: default;
  color: #339999;
  font-family: "cookiesmilk";
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic; }

.text-mega-big {
  font-size: 6em;
  color: #339999;
  animation-name: opacity-anim;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease; }

.label {
  font-size: 0.8em;
  border-width: 0px;
  border-radius: 5px;
  padding: 0.4em;
  line-height: 2.2em;
  font-weight: bold; }

.default {
  background-color: #eeeeee;
  color: #a2a2a2; }

.active {
  background-color: #339999;
  color: #1a4d4d; }

.text-book-description {
  text-align: justify;
  padding-left: 1em; }

.text-bookcover {
  font-size: 0.8em;
  color: grey; }

.text-author {
  font-style: italic;
  font-size: 0.8em;
  margin-top: -1em; }

.text-confirm {
  font-weight: bold; }

.citation {
  color: grey;
  font-style: italic; }
  .citation:before {
    content: open-quote; }
  .citation:after {
    content: close-quote; }

.form-error {
  color: #cc3333; }

h1 {
  font-size: 1.5em;
  font-family: "cookiesmilk";
  color: #339999;
  text-transform: uppercase; }

h2 {
  font-size: 1em;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #339999; }

input {
  width: 300px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #339999;
  font-size: 1.2em; }

input:focus {
  border-color: black; }

select {
  width: 300px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #339999;
  font-size: 1.2em; }

textarea {
  width: 300px;
  height: 5em;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #339999;
  font-size: 1.2em;
  font-family: Helvetica; }

textarea:focus {
  border-color: black; }

label {
  width: 300px;
  font-size: 0.8em; }

button {
  background-color: #339999;
  color: #eeeeee;
  border-radius: 0.3em;
  border: none;
  font-size: 1.2em;
  padding: 0.4em;
  margin: 0.2em;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  cursor: pointer;
  vertical-align: middle; }

button:hover {
  background-color: #39acac;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }

.div-message {
  line-height: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
  color: #eeeeee; }

.div-search-big {
  width: 100%;
  margin-bottom: 2em; }
  .div-search-big input {
    width: 80%;
    display: inline-block;
    border: 2px solid #339999;
    border-radius: 5px;
    font-size: 2em;
    vertical-align: middle; }
  .div-search-big button {
    font-size: 1.3em; }

.error:before {
  font-size: 0.8em;
  color: #e69999;
  content: "Une erreur est survenue";
  display: block; }

.error {
  background-color: #cc3333; }

.success:before {
  font-size: 0.8em;
  color: #99e699;
  content: "Tout c'est bien passé !";
  display: block; }

.success {
  background-color: #33cc33; }

@keyframes opacity-anim {
  0% {
    opacity: 0;
    margin-left: -0.5em; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
