@font-face {
    font-family: "Mob";
    src: local(Mob), url('#{$mob-font-path}master_of_break.otf'), 
		url('#{$mob-font-path}master_of_break.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "cookiesmilk";
    src: local(cookiesmilk), url('#{$mob-font-path}cookiesmilk-regular.eot') format('embedded-opentype'), 
		url('#{$mob-font-path}cookiesmilk-regular.ttf') format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "cookiesmilk";
    src: local(cookiesmilk), url('#{$mob-font-path}cookiesmilk-italic.eot') format('embedded-opentype'), 
		url('#{$mob-font-path}cookiesmilk-italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}