input {
	width:$form-width;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: $secondary-color;
	font-size: 1.2em;
}

input:focus {
	border-color: black;
}

select {
	width:$form-width;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: $secondary-color;
	font-size: 1.2em;
}

textarea {
	width:$form-width;
	height: 5em;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: $secondary-color;
	font-size: 1.2em;
	font-family: Helvetica;
}

textarea:focus {
	border-color: black;
}

label {
	width:$form-width;
	font-size: 0.8em;
}

button {
	background-color:  $secondary-color;
	color: $primary-color;
	border-radius: 0.3em;
	border:none;
	font-size: 1.2em;
	padding: 0.4em;
	margin: 0.2em;
	@include transition-normal;
	cursor: pointer;
	vertical-align: middle;
}

button:hover {
	background-color: lighten($secondary-color,5%);
	@include transition-normal;
}

.div-message {
	line-height: 2em;
	padding: 0.5em;
	border-radius: 0.5em;
	color:$primary-color;
}

.div-search-big {
	width: 100%;
	margin-bottom: 2em;
	input {
		width: 80%;
		display: inline-block;
		border: 2px solid $secondary-color;
		border-radius: 5px;
		font-size: 2em;
		vertical-align: middle;
	}
	button {
		font-size: 1.3em;
	}
}

.error:before {
	font-size: 0.8em;
	color: lighten($error-color,25%);
	content: "Une erreur est survenue";
	display: block;
}

.error {
	background-color: $error-color;
}

.success:before {
	font-size: 0.8em;
	color: lighten($success-color,25%);
	content: "Tout c'est bien passé !";
	display: block;
}

.success {
	background-color: $success-color;
}