body {
	margin:auto;
	font-family: $primary-font;
	font-size: 1.2em;
	padding-bottom:5em;
}

/*Mobile*/
@media screen and (max-width: $mobile-resolution) {
	main {
		text-align: center;
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}
/*Desktop*/
@media screen and (min-width: $mobile-resolution) {
	main {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

main {
	margin-top: 6em;
}

footer {
	z-index: 7;
	border-top: 3px dashed $secondary-color;
	background-color: white;
	width: 100%;
	padding: 0.5em;
	position: fixed;
	bottom: 0;
}

.img-responsive {
	width: 90%;
	height: auto;
}

.center {
	text-align: center;
}

.div-big {
	margin-bottom: 2em;
}

.img-bookcover {
	width: 150px;
	height: 200px;
	border: 1px solid $primary-color;
}

.img-bookcover-big {
	border: 1px solid $primary-color;
	max-width: 270px;
}

.book {
	@include appear;
	@include transition-normal;
	@include zoom(1);
}
.book:hover {
	@include transition-normal;
	@include zoom(1.05);
}

.div-confirm {
	background-color: $primary-color;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-radius: 1em; 
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.col {
		float: left;
		box-sizing: border-box;
		padding: 0;

		@media screen and (max-width: $mobile-resolution) {
			$i: 1;
			@while $i <= $max-cols {
			  $perc: unquote((100 / ($max-cols / $i)) + "%");
			  /*M for mobile*/
			  &.m#{$i} {
			    width: $perc;
			    margin-left: auto;
			    left: auto;
			    right: auto;
			  }
			  $i: $i + 1;
			}
		}
		@media screen and (min-width: $mobile-resolution) {
			$i: 1;
			@while $i <= $max-cols {
			  $perc: unquote((100 / ($max-cols / $i)) + "%");
			  /*D for desktop*/
			  &.d#{$i} {
			    width: $perc;
			    margin-left: auto;
			    left: auto;
			    right: auto;
			  }
			  $i: $i + 1;
			}
		}
	}
}