/*Mobile*/
@media screen and (max-width: $mobile-resolution) {
	.text-logo {
		text-align: center;
		float: none;
	}
	.menu {
		ul {
			position: fixed;
			left: 0;
			top:2em;
			padding: 0;
			width: 100%;
			text-align: center;
			li {
				background-color: $menu-color;
			}
		}
	}
	.menu-icon {
		position: fixed;
		font-size: 1.3em;
		top:0.5em;
		left: 1em;
		border: 1px solid;
		border-radius: 5px;
		padding-bottom: 0.2em;
		padding-top: 0.2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		z-index: 10;
		font-family: $secondary-font;
		line-height: 1em;
		cursor: pointer;
	}

	.menu-show {
		@include transition-normal;

	}

	.signin-hide {
		display: none;
	}

	.menu-hide {
		@include transition-normal;
		transform: translateY(-150%);
	}
}
/*Desktop*/
@media screen and (min-width: $mobile-resolution) {
	.text-logo {
		float: left;
		padding-left:2em;
		padding-right:1em;
	}
	.menu {
		ul {
			margin: auto;
			li {
				float: left;
			}
		}
	}
	.menu-icon {
		display: none;
	}
}

.menu {
	z-index: 9;
	position: fixed;
	top:0;
	height: 2em;
	width: 100%;
	background-color: $menu-color;
	padding: 0.5em;
	ul {
		list-style-type: none;
		height: 100%;
		font-family: $secondary-font;
		li {
			z-index: 9;
			font-size: 1.5em;
			padding-left:0.5em;
			padding-right:0.5em;
			a {
				@include transition-normal;
				color: black;
				text-transform: uppercase;
				text-decoration: none;
			}
			a:hover {
				@include transition-normal;
				color: $primary-color;
				text-transform: uppercase;
				text-decoration: none;
			}
			.active {
				color: $primary-color;
			}
			/*signin menu*/
			div {
				background-color: $secondary-color;
				padding: 1em;
				border-bottom-left-radius: 1em;
				border-bottom-right-radius: 1em;
				input {
					font-size: 0.7em;
					width: 200px;
					border-radius: 0.2em;
				}
				button {
					font-size: 0.7em;
					width: 200px;
				}
				button:hover{
					background-color: $secondary-color;
				}
			}
		}
	}
}




.text-logo {
	cursor: default;
	font-family: $secondary-font;
	font-weight: bold;
	color: $primary-color;
	font-style: italic;
	font-size: 2em;
	line-height: 1em;
}

.signin {
	
}

.signin-show {
	@include translate-y-normal;
	@include transition-normal;
	opacity: 1;
}

.signin-hide {
	margin-top: -150%;
	
	opacity: 0;
	@include transition-normal;
}

.menu-mini-text {
	font-size: 0.4em;
	font-family: $primary-font;
	text-align: center;
}
