@mixin transition-normal($duration:0.5s) {
	transition-duration: $duration;
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
}

@mixin appear($duration:1s) {
	animation-name: opacity-anim;
	animation-duration: $duration;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

@mixin zoom($ratio) {
	-webkit-transform:scale($ratio); /* Safari and Chrome */
    -moz-transform:scale($ratio); /* Firefox */
    -ms-transform:scale($ratio); /* IE 9 */
    -o-transform:scale($ratio); /* Opera */
    transform:scale($ratio);
}

@mixin translate-y-normal($y:0) {
	-webkit-transform:translateY($y); /* Safari and Chrome */
    -moz-transform:translateY($y); /* Firefox */
    -ms-transform:translateY($y); /* IE 9 */
    -o-transform:translateY($y); /* Opera */
    transform:translateY($y);
}