.text-mini-logo {
	cursor: default;
	color: $secondary-color;
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 1.2em;
	font-style: italic;
}

.text-mega-big {
	font-size: 6em;
	color: $secondary-color;
	@include appear;
}

.label {
	font-size: 0.8em;
	border-width: 0px;
	border-radius: 5px;
	padding: 0.4em;
	line-height: 2.2em;
	font-weight: bold;
}

.default {
	background-color: $primary-color;
	color: darken($primary-color,30%);
}

.active {
	background-color: $secondary-color;
	color: darken($secondary-color,20%);
}

.text-book-description {
	text-align: justify;
	padding-left: 1em;
}

.text-bookcover {
	font-size: 0.8em;
	color: $book-label-color;
}

.text-author {
	font-style: italic;
	font-size: 0.8em;
	margin-top: -1em;
}

.text-confirm {
	font-weight: bold;
}

.citation {
	color: grey;
	font-style: italic;
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}

.form-error {
	color:$error-color;
}


h1 {
	font-size:1.5em;
	font-family: $secondary-font;
	color: $secondary-color;
	text-transform: uppercase;
}

h2 {
	font-size: 1em;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: $secondary-color;
}