/*Fonts*/
$mob-font-path: "fonts/";
$primary-font: "Helvetica";
$secondary-font: "cookiesmilk";

/*Couleurs*/
$primary-color: #eeeeee;
$secondary-color: #339999;
$menu-color: $secondary-color;
$footer-color: $primary-color;
$error-color: #cc3333;
$success-color: #33cc33;
$book-label-color: grey;

/*Tailles*/
$mobile-resolution: 1024px;
$max-cols: 12;
$form-width:300px;